{{define "index"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Wedding</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" href="img/favicon.svg">
  </head>
  <body>
    <noscript>
      It will work much better when javascript enabled
    </noscript>
    <div id="canvasParent">
      <canvas id="renderCanvas"></canvas>
    </div>

    <div id="errorContainer" style="visibility:hidden;"></div>

    <div id="scrollDocument">
      {{template "document" .}}
    </div>

    <div id="copyright">Design: <a class="regulartext" href="https://www.state-of-the-art.io/" target="_blank">Rabit, State of the Art</a></div>

    <script src="js/babylon-v5.38.0/babylon.min.js"></script>
    <script src="js/babylon-v5.38.0/babylon.glTF2FileLoader.min.js"></script>
    <script src="js/babylon-v5.38.0/babylonjs.materials.min.js"></script>

    <script src="js/html_frame.js"></script>
    <script src="js/main.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
{{end}}
